body {
    height: 100vh;
    font-family: 'inter', sans-serif;
}

.header {
    font-size: 4em;
    font-family: 'inter', sans-serif;
    font-weight: 800;
}

footer {
    margin: auto;
}

.link-light:hover {
    color: #ffc107 !important;
    text-decoration-line: none !important;
}

.nav-link:hover {
    color: #ffc107 !important; 
}

.footer-text {
    color: rgb(142, 142, 142);
}


.filter-container {
    width: 100vw;
}

.filter-tag {
    font-size: 12px;
    background-color: rgb(226, 12, 12);
}