{% load bootstrap4 %}

<!-- modal for categories -->
<div class="modal fade" id="catDetailsModal" tabindex="-1" caller-id="" role="dialog" aria-labelledby="catDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="catDetailsModalLabel">Confirm deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body cat-details">
                    <p id="">{{category.name}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="catDetailsButtonModal">Close</button>
                </div>
            </div>
    </div>
</div>