{% extends 'base.html' %}

{% block content %}
{% include 'confirm_delete_modal.html' %}
<!-- work in progress -->
<section class="container w-50 py-5 my-5">
    <h1 class="fs-3 fw-bold text-uppercase mb-4">Categories:</h1>
    <table class="table table-hover">
        <thead>
            <tr class="bg-warning">
                <th scope="col">#ID</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <th scope="row" class="align-middle">{{ category.id }}</th>
                <td class="fs-5 align-middle">{{ category.name}}</td>
                <td>
                    <div class="float-right">
                        <a href="{% url 'delete-category' cat_id=category.id%}" class="btn btn-danger confirm-delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{category.id}}">Delete</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<section class="container w-50 pb-5 mt-5">
    <h1 class="fs-3 fw-bold text-uppercase mb-4">ingredients:</h1>
    <table class="table table-hover">
        <thead>
            <tr class="bg-warning">
                <th scope="col">#ID</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in ingredients %}
            <tr>
                <th scope="row" class="align-middle">{{ ingredient.id }}</th>
                <td class="fs-5 align-middle">{{ ingredient.name}}</td>
                <td>
                    <div class="float-right">
                        <a href="{% url 'delete-ingredient' ing_id=ingredient.id%}" class="btn btn-danger confirm-delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{ingredient.id}}">Delete</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<script>
    $(document).on('click', '.confirm-delete', function () {
    $("#confirmDeleteModal").attr("caller-id", $(this).attr("id"));
    });

    $(document).on('click', '#confirmDeleteButtonModal', function () {
    var caller = $("#confirmDeleteButtonModal").closest(".modal").attr("caller-id");
    window.location = $("#".concat(caller)).attr("href");
    });
</script>

{% endblock content %}