{% extends 'base.html' %}
{% comment %}
    I needed to add this 
        {% load bootstrap4 %}
    to resolve a bug, you might want to include this in a few templates just incase including this one
{% endcomment %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{%  block content %}
    <div class="bg-warning pt-3 pb-2 mb-5">
        <center>
            <p class="text-dark fs-1 fw-bold">Create a new Recipe</p>
        </center> 
    </div>

    <div class="container border rounded w-50 mb-5">
        <form action="{% url 'create-recipe' %}" method="post" enctype="multipart/form-data" class="p-5">
            {% csrf_token %}
            {% bootstrap_form form %}
            <center>
                <input class="btn btn-warning mt-4 fs-4 w-25" type="submit" value="Create">
            </center>
        </form>
    </div>

{% endblock content %}

{% comment %} 
    for better user experience, there is currently the main page for users to add ingredients, in the create view and template for recipe create, users might appreciate the option to add at least one new ingredient
{% endcomment %}


